<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ExpressAuth - Admin Dashboard </title>
    <link rel="stylesheet" href="/stylesheets/home_style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <!-- <hr size="3" width="100%"  color="grey"> -->
  <!-- Right Panel -->
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/admin.jpg" alt=""> 
        <div class="text">
          <span class="text-1">ADMIN DASHBOARD<br></span>
          <span class="text-2">Admin prowess in action</span>
        </div>
      </div>
    </div>

    <!-- Left Panel -->
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">ADMIN DASHBOARD</div>

               <!-- Get All Users button -->
               <form method="get"  action="/api/v1/admin/user/allusers" target="_blank">
                <div class="button input-box" style="width: 100%;">
                <input type="submit" value="GET ALL USERS">
                </div> 
               </form>

               <!-- Get Single User button --> 
               <form method="get" action="/api/v1/admin/user/details" target="_blank">
                <div class="button input-box" style="width: 100%;">
                <input type="submit" value="GET PARTICULAR USER">
                </div> 
               </form>

               <!-- Update a user button --> 
               <form method="get"  action="/api/v1/admin/user/update" target="_blank">
                <div class="button input-box" style="width: 100%;">
                <input type="submit" value="UPDATE USER DETAILS">
                </div> 
               </form>

               <!-- Delete a user button --> 
               <form method="get"  action="/api/v1/admin/user/delete" target="_blank">
                <div class="button input-box" style="width: 100%;">
                <input type="submit" value="DELETE A USER">
                </div> 
               </form>

               <!-- Get user based on role button --> 
               <form method="get"  action="/api/v1/admin/user/role" target="_blank">
                <div class="button input-box" style="width: 100%;">
                <input type="submit" value="GET USERS OF PARTICULAR ROLE">
                </div> 
               </form>
            

            </div>
     
    </div>
    </div>
  </div>
</body>
</html>