<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ExpressAuth - Admin - Get Users on Role </title>
    <link rel="stylesheet" href="/stylesheets/home_style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <!-- Login Div -->
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/user.jpg" alt=""> 
        <div class="text">
          <span class="text-1">GET USERS BASED ON ROLE<br></span>
          <span class="text-2">Get list of all users based on role</span>
        </div>
      </div>
      
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">GET USERS BASED ON ROLE</div>
          <form method="post"  action="#">
            <div class="input-boxes">

              <!-- User ID -->
              <div class="input-box">
                <i class="fas fa-user-tag"></i>
                <input type="text" name="role" placeholder="Enter role" required="true">
              </div>
              
              <!-- Submit Button -->
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              
            </div>
        </form>
      </div>
     
    </div>
    </div>
  </div>
</body>
</html>