<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> ExpressAuth - Forgot Password </title>
    <link rel="stylesheet" href="/stylesheets/home_style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <!-- Login Div -->
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/forgotPassword.jpg" alt=""> 
        <div class="text">
          <span class="text-1">FORGOT PASSWORD?<br></span>
          <span class="text-2">Enter your email, we'll send a reset link</span>
        </div>
      </div>
      
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">FORGOT PASSWORD ?</div>
          <form method="post"  action="/api/v1/user/forgotpassword">
            <div class="input-boxes">

              <!-- Email -->
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Enter your email" required>
              </div>
              
              <!-- Submit Button -->
              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>
              
            </div>
        </form>
      </div>
     
    </div>
    </div>
  </div>
</body>
</html>